// Variables
$primary-color: #007bff;
$border-color: #ddd;
$bg-light: #f8f9fa;
$font-color: #333;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $font-color;
  background: $bg-light;
  font-family: Arial, sans-serif;
}
