@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: $font-color;
  background: $bg-light;
  font-family: Arial, sans-serif;
}
