@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: $font-color;
  background: $bg-light;
  font-family: Arial, sans-serif;
}

input,
textarea,
select {
  padding: 0.5rem;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-family: inherit;
}
