.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  button {
    align-self: flex-start;
  }

  textarea {
    resize: vertical;
  }
}

.main-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
